<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>
      Tabla con Distribución Triangular
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>

  <!-- Campo para ingresar la cantidad de años -->
  <ion-item class="custom-item" style="max-width: 90%; margin: 0 auto;">
    <ion-label position="floating" style="color: black;">Ingresar cantidad de años:</ion-label>
    <ion-input class="custom-input" type="number" [(ngModel)]="cantidadAnos"></ion-input>
  </ion-item>

  <!-- Botón para simular datos -->
  <ion-button expand="block" class="blue-button" (click)="simularDatos()">Simular Datos</ion-button>

  <br>

  <!-- Tabla adicional para Valor de Rescate Total, FET Total y TIR -->
  <table id="pdfContent">
    <thead>
      <tr>
        <th>Valor de Rescate Total</th>
        <th>FET Total</th>
        <th>TIR</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Mostrar los valores correspondientes -->
        <td>{{ calcularValorRescateTotal() }}</td>
        <td>{{ calcularFETTotal() }}</td>
        <td>{{ TIR }}</td>
        <td [ngClass]="{'aprobar': TIRB, 'rechazar': !TIRB}">
          {{ TIRB ? 'Proyecto Aceptado' : 'Proyecto Rechazado' }}
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Tabla con datos dinámicos -->
  <div class="table-container" >
  <table class="tableprinc">
    <thead>
      <tr>
        <th>Años</th>
        <th>Inversión Inicial</th>
        <th>Flujos Netos</th>
        <th>FET</th>
        <th>TASA Impuestos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tablaData">
        <!-- Mostrar datos dinámicos -->
        <td>{{ row.anos }}</td>
        <td>{{ row.inversionInicial }}</td>
        <td>{{ row.flujosNetos }}</td>
        <td>{{ row.fet }}</td>
        <td>{{ row.tasaImpuestos }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ion-button expand="block" class="blue-button" (click)="exportToPDF()">Exportar a PDF</ion-button>
</ion-content>
