<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>
      Tabla con Distribución Triangular
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br>


  <!-- Campo para ingresar la cantidad de años -->
  <ion-item class="custom-item" style="max-width: 90%; margin: 0 auto;">
    <ion-label position="floating" style="color: black;">Ingresar cantidad de años:</ion-label>
    <ion-input class="custom-input" type="number" [(ngModel)]="cantidadAnos"></ion-input>
  </ion-item>

  <!-- Botón para simular datos -->
  <ion-button expand="block" class="blue-button" (click)="simularDatos()">Simular Datos</ion-button>

  <br>
  <!-- Tabla adicional para Valor de Rescate Total, FET Total y TIR -->

  <div *ngIf="TIR !== 0">
    <p>Tasa Interna de Retorno (TIR): {{ TIR }}%</p>
  </div>
  <table #table1 class="blue-header">
    <thead>
      <tr>
        <th>Valor de Rescate Total</th>
        <th>FET Total</th>
        <th>TIR</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Mostrar los valores correspondientes -->
        <td>{{ calcularValorRescateTotal() }}</td>
        <td>{{ calcularFETTotal() }}</td>
        <td>{{ TIR }}</td>
        <td [ngClass]="{'aprobar': TIRB, 'rechazar': !TIRB}">
          {{ TIRB ? 'Proyecto Aceptado' : 'Proyecto Rechazado' }}
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Tabla con datos dinámicos -->
  <div class="table-container" >
  <table #table2 class="tableprinc beige-header">
    <thead>
      <tr>
        <th>Años</th>
        <th>Inversión Inicial</th>
        <th>Flujos Netos</th>
        <th>FET</th>
        <th>TASA Impuestos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tablaData">
        <!-- Mostrar datos dinámicos -->
        <td>{{ row.anos }}</td>
        <td>{{ row.inversionInicial }}</td>
        <td>{{ row.flujosNetos }}</td>
        <td>{{ row.fet }}</td>
        <td>{{ row.tasaImpuestos }}</td>
      </tr>
    </tbody>
  </table>
</div>
<p #pdfContent id="pdfContent" *ngIf="mostrarConclusion"><strong>Conclusion:</strong>
  <span *ngIf="estadoProyecto === 'Proyecto Aceptado'">
    La Tasa Interna de Retorno {{ TIR }}% es más alta que la Tasa de Requerimiento Mínima de Aceptación {{ Trema }}%. Esto significa que el proyecto tiene el potencial de generar más beneficios de los esperados, lo cual es una señal positiva. Por lo tanto, recomendamos aceptar el proyecto debido a que se espera que genere ganancias que superen nuestras expectativas mínimas. Esto sugiere que la inversión será rentable y nos permitirá recuperar nuestro dinero con rendimientos adicionales.
  </span>
  <span *ngIf="estadoProyecto === 'Proyecto Rechazado'">
    La Tasa Interna de Retorno {{ TIR }}% es menor que la Tasa de Requerimiento Mínima de Aceptación {{ Trema }}%. Esto significa que el proyecto no cumple con nuestras expectativas mínimas de rentabilidad. Por lo tanto, No se recomienda invertir en el proyecto, ya que no se espera que genere suficientes beneficios para justificar la inversión. Es mejor buscar otras oportunidades de inversión que ofrezcan rendimientos más atractivos y estén en línea con nuestros objetivos financieros.
  </span>
</p>
<ion-button  expand="block" class="blue-button" (click)="exportToPDF()">Exportar a PDF</ion-button>
</ion-content>
