<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-radio-group [(ngModel)]="menuType" (ionChange)="redirectToPage()">
            <ion-item>
              <ion-label>Home</ion-label>
              <ion-radio value="welcome"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Guia/Tutorial</ion-label>
              <ion-radio value="guia"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Informacion para la simulacion</ion-label>
              <ion-radio value="datos"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Simulacion</ion-label>
              <ion-radio value="simulacion"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Ayuda</ion-label>
              <ion-radio value="ayuda"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
