/* Estilos para el ion-content */
ion-content {
  --ion-background-color: linear-gradient(45deg, #e30113, #003770);
  --ion-text-color: #fff; /* Color del texto */
  padding: 20px;
}

/* Estilos para los íconos del menú */
.menu-icon {
  font-size: 24px;
  color: #fff; /* Color del ícono */
}

/* Estilos para los ítems del menú */
.menu-item {
  padding: 15px;
  border-bottom: 1px solid #ccc; /* Línea divisoria entre elementos */
  background-color: transparent !important; /* Fondo completamente transparente */
  color: #fff; /* Color del texto */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item:hover {
  background-color: transparent !important; /* Cambio de color al pasar el ratón por encima */
}

/* Estilos para el botón de cerrar */
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  color: red; /* Color del botón de cerrar */
}

/* Estilos para la imagen de ayuda */
.imagen-ayuda {
  width: 100px;
  display: block;
  margin: 20px auto; /* Centra la imagen horizontalmente con un margen */
}
