<ion-header>
  <ion-toolbar>
    <ion-title>Menú de Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/conceptos-basicos']">Conceptos Básicos</ion-item>
    <ion-item [routerLink]="['/soporte-tecnico']">Soporte Técnico</ion-item>
    <ion-item>
      Guía
      <ion-list>
        <ion-item [routerLink]="['/video-guia']">Guía en Video</ion-item>
        <ion-item [routerLink]="['/guia-escrita']">Guía Escrita</ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
