/* modal-mensaje.component.scss */

/* Estilos para el modal */
ion-modal {
    --height: 60%;
    --width: 60%;
    height: var(--height);
    width: var(--width);
    max-height: var(--height);
    max-width: var(--width);
    margin: auto;
    top: 20%;
    left: 20%;
    transform: translate(-20%, -20%);
    background-color: white; /* Color de fondo del modal */
    border-radius: 10px; /* Borde redondeado del modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del modal */
  }
  
  /* Estilos para el contenido del modal */
  ion-content {
    --background: linear-gradient(45deg, #e30113, #003770);
    text-align: center;
    padding: 20px;
  }
  
  /* Estilos para el botón de cerrar */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red; /* Color del botón de cerrar */
  }
  ion-item {
    //margin-bottom: 15px;
    --background: transparent;
    --color: #fff;
    --border-color: #fff;
    //--border-radius: 10px;
}
  ion-item::part(native) {
      //background-color: #fff;
      border-color: #fff;
      color: #fff;
      //border-radius: 10px;
}
.list-ios{
  background: transparent;
}
.imagen-ayuda{
  width: 100px;
}
  