/* tu-componente.component.css */
ion-content {
    --background: linear-gradient(45deg, #e30113, #003770);
      height: 100vh;
    padding: 20px;
  }
/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para los elementos de entrada */
  ion-item {
    margin-bottom: 15px;
  }
  
  /* Estilos para los mensajes de error */
  p {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Estilos para los botones */
  ion-button {
    margin-top: 10px;
  }
  /*boton*/
 /* Estilos para los botones */
.buttons-container {
    display: flex; /* Usa flexbox para alinear los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    margin-bottom: 20px; /* Espacio entre los botones y la tabla */
  }
  
  /* Estilo para el botón de limpiar */
  ion-button[type="button"] {
    background-color: red; /* Cambia el color de fondo a rojo */
    margin-left: 10px; /* Espacio entre los botones */
  }
  /* Estilos para centrar el h2 */
h2 {
  text-align: center; /* Centra el texto horizontalmente */
  margin-top: 20px; /* Espacio superior */
  margin-bottom: 20px; /* Espacio inferior */
  /* Otros estilos que desees agregar */
  font-family: Arial, sans-serif; /* Cambia la fuente */
  font-size: 24px; /* Tamaño del texto */
  color: white; /* Color del texto */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra de texto */
  /* Agregar más estilos según tus preferencias */
}
  
  
  /*tabla*/
  /* Estilos para la tabla */
table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  /* Estilos para el encabezado de la tabla */
  thead {
    background-color: #003770;
  }
  
  /* Estilos para las celdas del encabezado */
  th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #003770;
  }
  
  /* Estilos para las celdas de la tabla */
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #003770;
    color: white; /* Cambia el color del texto a blanco */
  }
  
  /* Estilos para las celdas de la primera columna */
  td:first-child {
    font-weight: bold;
  }
  
  /* Estilos para las celdas de la primera fila */
  tr:first-child {
    font-weight: bold;
  }
  /* Estilos para los mensajes de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  font-style: italic; /* Cambia el estilo a cursiva para los mensajes de error */
  display: block; /* Hace que los mensajes de error ocupen su propio espacio */
  max-width: 300px; /* Ancho máximo para evitar que se extiendan demasiado */
}