<ion-header>
  <ion-toolbar>
    <ion-title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>  Valores Iniciales</h2>
  <form [formGroup]="miFormulario" (ngSubmit)="enviarFormulario()" novalidate *ngIf="miFormulario">
    <ion-item>
      <ion-label position="floating">Inversión Inicial</ion-label>
      <ion-input formControlName="inversionInicial" type="number"></ion-input>
    </ion-item>
    <div *ngIf="miFormulario.get('inversionInicial')?.invalid && (miFormulario.get('inversionInicial')?.dirty || miFormulario.get('inversionInicial')?.touched)">
      <p *ngIf="miFormulario.get('inversionInicial')?.hasError('required')">La inversión inicial es requerida.</p>
      <p *ngIf="miFormulario.get('inversionInicial')?.hasError('min')">Ingrese un número positivo.</p>
    </div>
 <!-- Campo de entrada para desviación estándar de la inversión inicial -->
 <ion-item>
  <ion-label position="floating">Desviación Inversión Inicial</ion-label>
  <ion-input formControlName="desviacionInversionInicial" type="number"></ion-input>
</ion-item>
<div *ngIf="miFormulario.get('desviacionInversionInicial')?.invalid && (miFormulario.get('desviacionInversionInicial')?.dirty || miFormulario.get('desviacionInversionInicial')?.touched)">
  <p *ngIf="miFormulario.get('desviacionInversionInicial')?.hasError('required')">La desviación de la inversión inicial es requerida.</p>
  <p *ngIf="miFormulario.get('desviacionInversionInicial')?.hasError('min')">La desviación debe ser un número positivo.</p>
</div>
 <!-- Mensajes de error para la desviación -->
 <div *ngIf="miFormulario?.hasError('invalidDesviacion', 'desviacionInversionInicial') && miFormulario.get('desviacionInversionInicial')?.dirty">
  La desviación no puede ser mayor que la inversión inicial.
</div>

    <ion-item>
      <ion-label position="floating">Flujo Neto Inicial</ion-label>
      <ion-input formControlName="flujoNetoInicial" type="number"></ion-input>
    </ion-item>
    <div *ngIf="miFormulario.get('flujoNetoInicial')?.invalid && (miFormulario.get('flujoNetoInicial')?.dirty || miFormulario.get('flujoNetoInicial')?.touched)">
      <p *ngIf="miFormulario.get('flujoNetoInicial')?.hasError('required')">El flujo neto inicial es requerido.</p>
      <p *ngIf="miFormulario.get('flujoNetoInicial')?.hasError('min')">Ingrese un número positivo.</p>
    </div>
     <!-- Campo de entrada para desviación estándar del flujo neto -->
     <ion-item>
      <ion-label position="floating">Desviación Flujo Neto</ion-label>
      <ion-input formControlName="desviacionFlujoNeto" type="number"></ion-input>
    </ion-item>
    <div *ngIf="miFormulario.get('desviacionFlujoNeto')?.invalid && (miFormulario.get('desviacionFlujoNeto')?.dirty || miFormulario.get('desviacionFlujoNeto')?.touched)">
      <p *ngIf="miFormulario.get('desviacionFlujoNeto')?.hasError('required')">La desviación del flujo neto es requerida.</p>
      <p *ngIf="miFormulario.get('desviacionFlujoNeto')?.hasError('min')">La desviación debe ser un número positivo.</p>
    </div>
    
    <!-- Mensajes de error para la desviación -->
    
    <div *ngIf="miFormulario?.hasError('invalidDesviacion', 'desviacionFlujoNeto') && miFormulario.get('desviacionFlujoNeto')?.dirty">
      La desviación no puede ser mayor que el flujo neto inicial.
    </div>

    <ion-item>
      <ion-label position="floating">Tasa TREMA</ion-label>
      <ion-input formControlName="tasaTREMA" type="number"></ion-input>
    </ion-item>
    <div *ngIf="miFormulario.get('tasaTREMA')?.invalid && (miFormulario.get('tasaTREMA')?.dirty || miFormulario.get('tasaTREMA')?.touched)">
      <p *ngIf="miFormulario.get('tasaTREMA')?.hasError('required')">La tasa TREMA es requerida.</p>
      <p *ngIf="miFormulario.get('tasaTREMA')?.hasError('min') || miFormulario.get('tasaTREMA')?.hasError('max')">Ingrese un valor entre 1 y 100.</p>
    </div>
    <div class="buttons-container">
      <ion-button type="submit" [disabled]="!miFormulario.valid" >Enviar</ion-button>
      <ion-button type="button" (click)="limpiarFormulario()" color="danger">Limpiar</ion-button>
    </div>
  </form>
  <table *ngIf="mostrarTabla">
    <thead>
      <tr>
        <th></th>
        <th>Pesimista</th>
        <th>Mas Probable</th>
        <th>Optimista</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Inversión Inicial</td>
        <td *ngIf="calculatedValues">{{ calculatedValues.inversionInicial.pesimista }}</td>
        <td *ngIf="calculatedValues">{{ calculatedValues.inversionInicial.masProbable }}</td>
        <td *ngIf="calculatedValues">{{ calculatedValues.inversionInicial.optimista }}</td>
      </tr>
      <tr>
        <td>Flujo Neto</td>
        <td *ngIf="calculatedValues">{{ calculatedValues.flujoNeto.pesimista }}</td>
        <td *ngIf="calculatedValues">{{ calculatedValues.flujoNeto.masProbable }}</td>
        <td *ngIf="calculatedValues">{{ calculatedValues.flujoNeto.optimista }}</td>
      </tr>
    </tbody>
  </table>

</ion-content>
